In [40]:
# import modules
from geopy.geocoders import Nominatim
import pandas as pd
import folium

In [44]:
def locate(country):
    "A function that takes a country name and returns its coordinates"
    locator = Nominatim(user_agent="myGeocoder")
    location = locator.geocode(country)
    lon = location.longitude
    lat = location.latitude
    print("coordinates of ", country, "are: ", lon, ",", lat)
    return lon, lat

In [28]:
#test
lon, lat = locate("France")

coordinates of  France are:  1.8883335 , 46.603354

In [30]:
#load the data
data = pd.read_csv('NewLocationData.csv')

In [33]:
#isolate the column of interest
country_data = data["Country of Origin (Nationality)"]

In [35]:
#create a list of all countries
countries = []
for country in country_data:
    countries.append(country)

In [41]:
#locate all the countries and put them in a list
coordinates = []
for country in countries:
    lon, lat = locate(country)
    location = [country, lon, lat]
    coordinates.append(location)

coordinates of  India are:  78.6677428 , 22.3511148
coordinates of  India are:  78.6677428 , 22.3511148
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  Iran are:  54.5643516 , 32.6475314
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  India are:  78.6677428 , 22.3511148
coordinates of  Canada are:  -107.991707 , 61.0666922
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  Romania are:  24.6859225 , 45.9852129
coordinates of  Indonesia are:  117.8902853 , -2.4833826
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  India are:  78.6677428 , 22.3511148
coordinates of  Luxembourg are:  6.1296751 , 49.8158683
coordinates of  Zimbabwe are:  29.7468414 , -18.4554963
coordinates of  Germany are:  10.4478313 , 51.1638175
coordinates of  Trinidad are:  -61.26130538878063 , 10.443024300000001
coordinates of  Italy are:  12.674297 , 42.6384261
coordinates of  United States are:  -100.445882 , 39.7837304
coordinates of  South Africa are:  24.991639 , -28.8166236
coordinates of  United Kingdom  are:  -3.2765753 , 54.7023545
coordinates of  India  are:  78.6677428 , 22.3511148
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  Colombia are:  -72.9088133 , 4.099917
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  Netherlands are:  5.6343227 , 52.2434979
coordinates of  Italy are:  12.674297 , 42.6384261
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  India are:  78.6677428 , 22.3511148
coordinates of  Spain are:  -4.8379791 , 39.3260685
coordinates of  Iran are:  54.5643516 , 32.6475314
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  Lithuania are:  23.7499997 , 55.3500003
coordinates of  Netherlands are:  5.6343227 , 52.2434979
coordinates of  India are:  78.6677428 , 22.3511148
coordinates of  India are:  78.6677428 , 22.3511148
coordinates of  Netherlands are:  5.6343227 , 52.2434979
coordinates of  Netherlands are:  5.6343227 , 52.2434979
coordinates of  Austria are:  14.12456 , 47.59397
coordinates of  Greece are:  21.9877132 , 38.9953683
coordinates of  Romania are:  24.6859225 , 45.9852129
coordinates of  Romania are:  24.6859225 , 45.9852129
coordinates of  Romania are:  24.6859225 , 45.9852129
coordinates of  Romania are:  24.6859225 , 45.9852129
coordinates of  Canada are:  -107.991707 , 61.0666922
coordinates of  Greece are:  21.9877132 , 38.9953683
coordinates of  Israel are:  34.8594762 , 30.8124247
coordinates of  Belgium are:  4.6667145 , 50.6402809
coordinates of  Netherlands are:  5.6343227 , 52.2434979
coordinates of  India are:  78.6677428 , 22.3511148
coordinates of  Sweden are:  14.5208584 , 59.6749712
coordinates of  Spain are:  -4.8379791 , 39.3260685
coordinates of  Spain are:  -4.8379791 , 39.3260685
coordinates of  Romania are:  24.6859225 , 45.9852129
coordinates of  Hungary are:  19.5060937 , 47.1817585

In [45]:
#turn the list into a dataframe
dataframe = pd.DataFrame(coordinates, columns = ["country", "longitude", "latitude"])

In [46]:
dataframe.to_csv("countries.csv")

            country   longitude   latitude
0             India   78.667743  22.351115
1             India   78.667743  22.351115
2           Austria   14.124560  47.593970
3              Iran   54.564352  32.647531
4           Austria   14.124560  47.593970
5             India   78.667743  22.351115
6            Canada -107.991707  61.066692
7           Austria   14.124560  47.593970
8           Romania   24.685923  45.985213
9         Indonesia  117.890285  -2.483383
10          Austria   14.124560  47.593970
11            India   78.667743  22.351115
12       Luxembourg    6.129675  49.815868
13         Zimbabwe   29.746841 -18.455496
14          Germany   10.447831  51.163818
15         Trinidad  -61.261305  10.443024
16            Italy   12.674297  42.638426
17    United States -100.445882  39.783730
18     South Africa   24.991639 -28.816624
19  United Kingdom    -3.276575  54.702354
20           India    78.667743  22.351115
21          Austria   14.124560  47.593970
22          Austria   14.124560  47.593970
23         Colombia  -72.908813   4.099917
24          Austria   14.124560  47.593970
25      Netherlands    5.634323  52.243498
26            Italy   12.674297  42.638426
27          Austria   14.124560  47.593970
28          Austria   14.124560  47.593970
29          Austria   14.124560  47.593970
30            India   78.667743  22.351115
31            Spain   -4.837979  39.326068
32             Iran   54.564352  32.647531
33          Austria   14.124560  47.593970
34          Austria   14.124560  47.593970
35        Lithuania   23.750000  55.350000
36      Netherlands    5.634323  52.243498
37            India   78.667743  22.351115
38            India   78.667743  22.351115
39      Netherlands    5.634323  52.243498
40      Netherlands    5.634323  52.243498
41          Austria   14.124560  47.593970
42           Greece   21.987713  38.995368
43          Romania   24.685923  45.985213
44          Romania   24.685923  45.985213
45          Romania   24.685923  45.985213
46          Romania   24.685923  45.985213
47           Canada -107.991707  61.066692
48           Greece   21.987713  38.995368
49           Israel   34.859476  30.812425
50          Belgium    4.666715  50.640281
51      Netherlands    5.634323  52.243498
52            India   78.667743  22.351115
53           Sweden   14.520858  59.674971
54            Spain   -4.837979  39.326068
55            Spain   -4.837979  39.326068
56          Romania   24.685923  45.985213
57          Hungary   19.506094  47.181759